<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pense Grande Digital</title>
  <link rel="stylesheet" href="/public/app.css">
</head>

<body>
  <div class="container">
    {{{body}}}
  </div>
  <script src="/public/app.js"></script>
</body>

</html>
